h1{
    font-family: sans-serif;
    font-size: 7vw;
    color: brown;
}


div p, h2{
    font-family: 'Courier New';
    font-size: 2em;
}


strong{
    font-style: italic;
}


.seznam{
    font-size: 3rem;
}

.vstup{
    font-family: system-ui;
    font-size: 1.5em;
}


#jmeno {
    background-color: wheat;
}


li:hover{
    background-color: lightgrey;
}


table, td, th{
    font-size: 2rem;
    border-collapse: collapse;
    border: 3px solid black;
}



thead{
    background-color: darkgray;
    color: white;  
}


tbody{
    background-color: white;
    color: darkgrey;
}